@import "tailwindcss";

@theme {
  --color-aws-100: #232f3e;
  --color-aws-200: #1e73be;
  --color-timeline-100: #dbdbdb;
  --color-timeline-200: #3298dc;
  --spacing-timeline: 0.1rem;   
}

@config "../../tailwind.config.mjs";