---
import Header from "../components/Header.astro";
import TimelineYear from "../components/TimelineYear.astro";
import Main from "../layouts/Main.astro";

const years = Array.from({ length: 2026 - 2006 + 1 }, (_, i) => 2026 - i);
---
<Main>
	<div class="bg-aws-100 mx-auto h-2 w-full"></div>
	<Header />
	<main>
		<div class="flex justify-center w-full mx-auto">
			<!-- TIMELINE -->
			<div class="flow-root px-2 ml-6">
				<ul class="-mb-8 mt-12">
					{years.map((year) => (
						<TimelineYear year={year} />
					))}
				</ul>
			</div>
		</div>
	</main>
</Main>
