---

---
<!-- 2025 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex items-start space-x-3">
			<div class="relative">
				<button class="flex items-center justify-center rounded bg-aws-100 text-white py-1 px-3">2025</button>
			</div>
		</div>
	</div>
</li>
<!-- August 2025 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">AUGUST 2025</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Storage Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">i8ge.large, i8ge.xlarge, i8ge.2xlarge, i8ge.3xlarge, i8ge.6xlarge, i8ge.12xlarge, i8ge.18xlarge, i8ge.24xlarge, i8ge.48xlarge, i8ge.metal-24xl, i8ge.metal-48xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/i8g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">m8i.large, m8i.xlarge, m8i.2xlarge, m8i.4xlarge, m8i.8xlarge, m8i.12xlarge, m8i.16xlarge, m8i.24xlarge, m8i.32xlarge, m8i.48xlarge, m8i.96xlarge, m8i.metal-48xl, m8i.metal-96xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m8i/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">m8i-flex.large, m8i-flex.xlarge, m8i-flex.2xlarge, m8i-flex.4xlarge, m8i-flex.8xlarge, m8i-flex.12xlarge, m8i-flex.16xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m8i/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r8i.large, r8i.xlarge, r8i.2xlarge, r8i.4xlarge, r8i.8xlarge, r8i.12xlarge, r8i.16xlarge, r8i.24xlarge, r8i.32xlarge, r8i.48xlarge, r8i.96xlarge, r8i.metal-48xl, r8i.metal-96xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r8i/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r8i-flex.large, r8i-flex.xlarge, r8i-flex.2xlarge, r8i-flex.4xlarge, r8i-flex.8xlarge, r8i-flex.12xlarge, r8i-flex.16xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r8i/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">p5.4xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/p5/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>				
			</div>
		</div>
	</div>
</li>
<!-- July 2025 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">JULY 2025</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">g6f.large, g6f.xlarge, g6f.2xlarge, g6f.4xlarge, gr6f.4xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/g6/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- June 2025 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">JUNE 2025</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">c8gn.medium, c8gn.large, c8gn.xlarge, c8gn.2xlarge, c8gn.4xlarge, c8gn.8xlarge, c8gn.12xlarge, c8gn.16xlarge, c8gn.24xlarge, c8gn.48xlarge, c8gn.metal-24xl, c8gn.metal-48xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c8g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- May 2025 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">MAY 2025</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">p6-b200.48xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/p6/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- MARCH 2025 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">MARCH 2025</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Storage Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">i8g.48xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/i8g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- April 2025 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">APRIL 2025</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Storage Computing</div>
				</div>	
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">i7i.large, i7i.xlarge, i7i.2xlarge, i7i.4xlarge, i7i.8xlarge, i7i.12xlarge, i7i.16xlarge, i7i.24xlarge, i7i.48xlarge, i7i.metal-24xl, i7i.metal-48xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/i7i/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">i7ie.metal-24xl, i7ie.metal-48xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/i7ie/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>	
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>			
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">m8gd.medium, m8gd.large, m8gd.xlarge, m8gd.2xlarge, m8gd.4xlarge, m8gd.8xlarge, m8gd.12xlarge, m8gd.16xlarge, m8gd.24xlarge, m8gd.48xlarge, m8gd.metal-24xl, m8gd.metal-48xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m8g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>			
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r8gd.medium, r8gd.large, r8gd.xlarge, r8gd.2xlarge, r8gd.4xlarge, r8gd.8xlarge, r8gd.12xlarge, r8gd.16xlarge, r8gd.24xlarge, r8gd.48xlarge, r8gd.metal-24xl, r8gd.metal-48xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r8g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>			
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">c8gd.medium, c8gd.large, c8gd.xlarge, c8gd.2xlarge, c8gd.4xlarge, c8gd.8xlarge, c8gd.12xlarge, c8gd.16xlarge, c8gd.24xlarge, c8gd.48xlarge, c8gd.metal-24xl, c8gd.metal-48xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c8g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- FEBRUARY 2025 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">FEBRUARY 2025</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">f2.6xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/f2/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- JANUARY 2025 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">JANUARY 2025</div>		
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">c7i-flex.12xlarge, c7i-flex.16xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c7i/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">m7i-flex.12xlarge, m7i-flex.16xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m7i/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>