---
import ServerIcon from "../ServerIcon.astro";
---
<!-- 2022 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex items-start space-x-3">
			<div class="relative">
				<button class="flex items-center justify-center rounded bg-aws-100 text-white py-1 px-3">2022</button>
			</div>
		</div>
	</div>
</li>
<!-- NOVEMBER 2022 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">NOVEMBER 2022</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">HPC Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">hpc6id.32xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/hpc6i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">c6in.large, c6in.xlarge, c6in.2xlarge, c6in.4xlarge, c6in.8xlarge, c6in.12xlarge, c6in.16xlarge, c6in.24xlarge, c6in.32xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c6i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r6in.large, r6in.xlarge, r6in.2xlarge, r6in.4xlarge, r6in.8xlarge, r6in.12xlarge, r6in.16xlarge, r6in.24xlarge, r6in.32xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r6i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r6idn.large, r6idn.xlarge, r6idn.2xlarge, r6idn.4xlarge, r6idn.8xlarge, r6idn.12xlarge, r6idn.16xlarge, r6idn.24xlarge, r6idn.32xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r6i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">m6in.large, m6in.xlarge, m6in.2xlarge, m6in.4xlarge, m6in.8xlarge, m6in.12xlarge, m6in.16xlarge, m6in.24xlarge, m6in.32xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m6i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">m6idn.large, m6idn.xlarge, m6idn.2xlarge, m6idn.4xlarge, m6idn.8xlarge, m6idn.12xlarge, m6idn.16xlarge, m6idn.24xlarge, m6idn.32xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m6i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- OCTOBER 2022 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">OCTOBER 2022</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">trn1.2xlarge, trn1.32xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/trn1" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- AUGUST 2022 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">AUGUST 2022</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">x2idn.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/x2i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">x2iedn.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/x2i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- JULY 2022 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">JULY 2022</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r6a.large, r6a.xlarge, r6a.2xlarge, r6a.4xlarge, r6a.8xlarge, r6a.12xlarge, r6a.16xlarge, r6a.24xlarge, r6a.32xlarge, r6a.48xlarge, r6a.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r6a" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">mac2.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/mac" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- JUNE 2022 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">JUNE 2022</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r6id.large, r6id.xlarge, r6id.2xlarge, r6id.4xlarge, r6id.8xlarge, r6id.12xlarge, r6id.16xlarge, r6id.24xlarge, r6id.32xlarge, r6id.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r6i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- MAY 2022 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">MAY 2022</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">m6id.large, m6id.xlarge, m6id.2xlarge, m6id.4xlarge, m6id.8xlarge, m6id.12xlarge, m6id.16xlarge, m6id.24xlarge, m6id.32xlarge, m6id.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m6i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">c6id.large, c6id.xlarge, c6id.2xlarge, c6id.4xlarge, c6id.8xlarge, c6id.12xlarge, c6id.16xlarge, c6id.24xlarge, c6id.32xlarge, c6id.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c6i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">c7g.medium, c7g.large, c7g.xlarge, c7g.2xlarge, c7g.4xlarge, c7g.8xlarge, c7g.12xlarge, c7g.16xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c7g" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Storage Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">i4i.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/i4i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- APRIL 2022 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">APRIL 2022</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Storage Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">i4i.large, i4i.xlarge, i4i.2xlarge, i4i.4xlarge, i4i.8xlarge, i4i.16xlarge, i4i.32xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/i4i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">c6a.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c6a" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">m6a.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m6a" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- MARCH 2022 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">MARCH 2022</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">x2idn.16xlarge, x2idn.24xlarge, x2idn.32xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/x2i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">x2iedn.xlarge, x2iedn.2xlarge, x2iedn.4xlarge, x2iedn.8xlarge, x2iedn.16xlarge, x2iedn.24xlarge, x2iedn.32xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/x2i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- FEBRUARY 2022 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">FEBRUARY 2022</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">c6a.large, c6a.xlarge, c6a.2xlarge, c6a.4xlarge, c6a.8xlarge, c6a.12xlarge, c6a.16xlarge,c6a.24xlarge, c6a.32xlarge, c6a.48xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c6a" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- JANUARY 2022 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">JANUARY 2022</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">x2iezn.2xlarge, x2iezn.4xlarge, x2iezn.6xlarge, x2iezn.8xlarge, x2iezn.12xlarge, x2iezn.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/x2i" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">HPC Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">hpc6a.48xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/hpc6" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>