---

---
<!-- 2024 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-0.1 bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex items-start space-x-3">
			<div class="relative">
				<button class="flex items-center justify-center rounded bg-aws-100 text-white py-1 px-3">2024</button>
			</div>
		</div>
	</div>
</li>
<!-- SEPTEMBER 2024 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-0.1 bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">SEPTEMBER 2024</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">c8g.medium, c8g.large, c8g.xlarge, c8g.2xlarge, c8g.4xlarge, c8g.8xlarge, c8g.12xlarge, c8g.16xlarge, c8g.24xlarge, c8g.48xlarge, c8g.metal-24xl, c8g.metal-48xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c8g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>										
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">m8g.medium, m8g.large, m8g.xlarge, m8g.2xlarge, m8g.4xlarge, m8g.8xlarge, m8g.12xlarge, m8g.16xlarge, m8g.24xlarge, m8g.48xlarge, m8g.metal-24xl, m8g.metal-48xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m8g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>				
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">x8g.medium, x8g.large, x8g.xlarge, x8g.2xlarge, x8g.4xlarge, x8g.8xlarge, x8g.12xlarge, x8g.16xlarge, x8g.24xlarge, x8g.48xlarge, x8g.metal-24xl, x8g.metal-48xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/x8g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">p5e.48xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/p5/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- AUGUST 2024 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-0.1 bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">AUGUST 2024</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">g6e.xlarge, g6e.2xlarge, g6e.4xlarge, g6e.8xlarge, g6e.12xlarge, g6e.16xlarge, g6e.24xlarge, g6e.48xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/g6e/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- JULY 2024 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-0.1 bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">JULY 2024</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r8g.medium, r8g.large, r8g.xlarge, r8g.2xlarge, r8g.4xlarge, r8g.8xlarge, r8g.12xlarge, r8g.16xlarge, r8g.24xlarge, r8g.48xlarge, r8g.metal-24xl, r8g.metal-48xl</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r8g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- MAY 2024 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-0.1 bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">MAY 2024</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">u7i-12tb.224xlarge, u7in-16tb.224xlarge, u7in-24tb.224xlarge, u7in-32tb.224xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/u7i/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">c7i-flex.large, c7i-flex.xlarge, c7i-flex.2xlarge, c7i-flex.4xlarge, c7i-flex.8xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/g6/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- APRIL 2024 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-0.1 bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">APRIL 2024</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">g6.xlarge, g6.2xlarge, g6.4xlarge, g6.8xlarge, g6.16xlarge, gr6.4xlarge, gr6.8xlarge, g6.12xlarge, g6.24xlarge, g6.48xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/g6/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- MARCH 2024 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-0.1 bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">MARCH 2024</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">c7gn.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c7g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">c7gd.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c7g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">m7gd.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m7g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">r7gd.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r7g/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>