---

---
<header>
	<div class="w-full mx-auto content-center p-8">
		<p class="font-medium text-2xl text-gray-700">AWS EC2 instance timeline</p>
		<p class="text-lg font-light text-gray-500 pb-4">A historical overview of instance releases</p>
		<!-- BADGES -->
		<div class="flex flex-wrap items-center gap-2">
			<span class="inline-flex">
				<span class="text-xs py-1 px-3 rounded-l text-gray-600 bg-gray-100">Source</span>
				<span class="text-xs py-1 px-3 rounded-r text-gray-100 bg-aws-100">
					<a href="https://github.com/nrollr/ec2-timeline">GitHub</a>
				</span>
			</span>
			<span class="inline-flex">
				<span class="text-xs py-1 px-3 rounded-l text-gray-600 bg-gray-100">Format</span>
				<span class="text-xs py-1 px-3 rounded-r text-gray-100 bg-aws-100">
					<a href="https://instancetyp.es/timeline.json">JSON</a>
				</span>
			</span>
		</div>
		<div class="mt-2">
			<span class="inline-flex">
				<span class="text-xs py-1 px-3 rounded-l text-gray-600 bg-gray-100">Release</span>
				<span class="text-xs py-1 px-3 rounded-r text-white bg-aws-100">
					<a href="https://github.com/nrollr/ec2-timeline/releases">v2.2.3</a>
				</span>
			</span>
		</div>
	</div>
</header>
