---
---
<header>
	<div class="w-full mx-auto content-center p-8">
		<p class="font-medium text-2xl text-gray-700">AWS EC2 instance timeline</p>
		<p class="text-lg font-light text-gray-500 pb-4">A historical overview of instance releases</p>
		<!-- BADGES -->
		<div class="table-row-group">
			<div class="table-row">
				<div class="table-cell text-xs py-1 px-3 rounded rounded-r-none text-gray-600 bg-gray-100">Source&nbsp;</div>
				<div class="table-cell text-xs py-1 px-3 rounded rounded-l-none text-gray-100 bg-aws-100">
					<a href="https://github.com/nrollr/ec2-timeline">GitHub</a>
				</div>
				<div class="table-cell px-2"></div>
				<div class="table-cell text-xs py-1 px-3 rounded rounded-r-none text-gray-600 bg-gray-100">Format</div>
				<div class="table-cell text-xs py-1 px-3 rounded rounded-l-none text-gray-100 bg-aws-100">
					<a href="https://instancetyp.es/timeline.json">JSON</a>
				</div>
			</div>
		</div>
		<div class="mt-2">
			<div class="table-row-group">
				<div class="table-row">
					<div class="table-cell text-xs py-1 px-3 rounded rounded-r-none text-gray-600 bg-gray-100">Release</div>
					<div class="table-cell text-xs py-1 px-3 rounded rounded-l-none text-white bg-aws-100">
						<a href="https://github.com/nrollr/ec2-timeline/releases">v2.0.9</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>