---
import "../styles/global.css";

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
		<link rel="icon" href="/svg/favicon.svg" />
	</head>
	<body class="text-slate-700 antialiased bg-neutral-100">
		<slot />
	</body>
</html>
