---

---
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
		<meta name="description" content="A historical overview of AWS EC2 instance releases" />
		<meta name="keywords" content="AWS, Amazon Web Services, Amazon Elastic Cloud Compute, EC2, Instance Types, Timeline" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>EC2 instance timeline</title>
		<link rel="icon" href="svg/favicon.svg">
		<link rel="mask-icon" href="svg/favicon.svg">
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body class="font-inter">
		<slot />
	</body>
</html>