---
---
<!-- 2018 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex items-start space-x-3">
			<div class="relative">
				<button class="flex items-center justify-center rounded bg-aws-100 text-white py-1 px-3">2018</button>
			</div>
		</div>
	</div>
</li>
<!-- DECEMBER 2018 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">DECEMBER 2018</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>	
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">p3dn.24xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/p3/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- NOVEMBER 2018 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">NOVEMBER 2018</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">c5n.large, c5n.xlarge, c5n.2xlarge, c5n.4xlarge, c5n.9xlarge, c5n.18xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c5" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">a1.medium, a1.large, a1.xlarge, a1.2xlarge, a1.4xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/previous-generation" class="text-sm text-gray-500 hover:text-gray-900 border-b border-gray-200">Previous generation</a>
					</span>
				</div>
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">m5a.large, m5a.xlarge, m5a.2xlarge, m5a.4xlarge, m5a.12xlarge, m5a.24xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m5" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r5a.large, r5a.xlarge, r5a.2xlarge, r5a.4xlarge, r5a.12xlarge, r5a.24xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r5" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- OCTOBER 2018 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">OCTOBER 2018</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">g3s.xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/previous-generation" class="text-sm text-gray-500 hover:text-gray-900 border-b border-gray-200">Previous generation</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- SEPTEMBER 2018 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">SEPTEMBER 2018</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">u-6tb1.metal, u-9tb1.metal, u-12tb1.metal</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/high-memory" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelererated Computing</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">f1.4xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/f1/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- AUGUST 2018 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">AUGUST 2018</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">t3.nano, t3.micro, t3.small, t3.medium, t3.large, t3.xlarge, t3.2xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/t3" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- JULY 2018 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">JULY 2018</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">z1d.large, z1d.xlarge, z1d.2xlarge, z1d.3xlarge, z1d.6xlarge, z1d.12xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/z1d" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r5d.large, r5d.xlarge, r5d.2xlarge, r5d.4xlarge, r5d.12xlarge, r5d.24xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r5" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<div class="mt-3 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r5.large, r5.xlarge, r5.2xlarge, r5.4xlarge, r5.12xlarge, r5.24xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/r5" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- JUNE 2018 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">JUNE 2018</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">m5d.large, m5d.xlarge, m5d.2xlarge, m5d.4xlarge, m5d.12xlarge, m5d.24xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/m5" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- MAY 2018 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">MAY 2018</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Compute Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">c5d.large, c5d.xlarge, c5d.2xlarge, c5d.4xlarge, c5d.9xlarge, c5d.18xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/c5" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>