---
import ServerIcon from "../ServerIcon.astro";
---
<!-- 2016 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex items-start space-x-3">
			<div class="relative">
				<button class="flex items-center justify-center rounded bg-aws-100 text-white py-1 px-3">2016</button>
			</div>
		</div>
	</div>
</li>
<!-- NOVEMBER 2016 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">NOVEMBER 2016</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">t2.xlarge, t2.2xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/t2" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">r4.large, r4.xlarge, r4.2xlarge, r4.4xlarge, r4.8xlarge, r4.16xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/previous-generation" class="text-sm text-gray-500 hover:text-gray-900 border-b border-gray-200">Previous generation</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Storage Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">i3.large, i3.xlarge, i3.2xlarge, i3.4xlarge, i3.8xlarge, i3.16xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/i3" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">f1.2xlarge, f1.16xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/f1/" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- OCTOBER 2016 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">OCTOBER 2016</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">x1.16xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/x1" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- SEPTEMBER 2016 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">SEPTEMBER 2016</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Accelerated Computing</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instances: <span class="font-medium text-aws-200">p2.xlarge, p2.8xlarge, p2.16xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/previous-generation" class="text-sm text-gray-500 hover:text-gray-900 border-b border-gray-200">Previous generation</a>
					</span>
				</div>
				<!-- INSTANCES -->
				<div class="mt-8 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">General Purpose</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">m4.16xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/previous-generation" class="text-sm text-gray-500 hover:text-gray-900 border-b border-gray-200">Previous generation</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>
<!-- MAY 2016 -->
<li>
	<div class="relative pb-8 mt-4">
		<span class="absolute top-5 left-8 -ml-px h-full w-timeline bg-timeline-100" aria-hidden="true"></span>
		<div class="relative flex left-3 space-x-3">
			<div>
				<div class="relative px-1">
					<div class="h-8 w-8 bg-gray-100 rounded-full ring-4 ring-white flex items-center justify-center">
						<ServerIcon />
					</div>
				</div>
			</div>
			<div class="min-w-0 flex-1 py-0">
				<div class="flex items-center text-sm font-medium text-gray-600 pt-1.5">MAY 2016</div>
				<!-- INSTANCES -->
				<div class="mt-4 relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
					<div class="font-medium text-sm text-gray-600">Memory Optimized</div>
				</div>
				<div class="mt-1 mx-3 text-gray-700">
					<p class="font-light text-sm">Release of instance: <span class="font-medium text-aws-200">x1.32xlarge</span></p>
					<span class="relative inline-flex items-center">
						<a href="https://aws.amazon.com/ec2/instance-types/x1" class="text-sm font-medium text-gray-600 hover:text-gray-900 border-b border-gray-200">Product page</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</li>